.sidebar{
    max-width: 30vw;
    height: 89vh;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #101b34de;
    border: 2px solid;
    position: absolute;
    width: 40vw;
    border: 2px solid #031848de;
}
.sidebar__header{
    height: 5vw;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.sidebar__middle{
    height: 20vw;
}
ul,li{
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    justify-content: space-between;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
li{
    height: 30px;
}

hr{
    opacity: 0.2;
}
.Rooms
{
    height: 5vw;
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    justify-content: space-between;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}